@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #544a7d;
  background: linear-gradient(to bottom, #544a7d 50%, #ffd452 50%);
  font-family: 'Kavoon', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background: linear-gradient(to bottom, #fad461 50%, #7163a8 50%);
  color: black;

  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 1rem;
  border: none;
  cursor: pointer;
  text-emphasis: none;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.toasts {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toast {
  background-color: white;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0.5rem;
}

.toast.success {
  color: green;
}

.toast.info {
  color: black;
}

.toast.error {
  color: red;
}
